body {
    background-image: url('https://i.pinimg.com/originals/46/1a/c5/461ac57ed6d144c112838ae16b8a2270.jpg');
    background-size:auto 100vh;
    font-family:Arial;
    height:100vh;
  }
  
  .menu{
    background-color:white;
  }
  .menu li {
    list-style:none;
  }
  .menu ul {
    display:flex;
    justify-content:space-around;
  }
  
  a{
    color:#333;
    text-decoration:none;
  }
  a:hover{
    text-decoration:underline;
  }
  .site-subtitle,
  .site-title {
    color:whitesmoke;
    text-align:center;
  }
  
  .site-subtitle{
    font-style:italic;
  }